html {
	background-image: url("img2.jpg");
}
h1 {
	width: 6em;
	font-family: Zen Maru Gothic, sans-serif;
	font-weight: 500;
	background-color: #4b6d61;
	color: azure;
}

h2 {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 400;
	color: lavenderblush;
	width: fit-content;
}
table {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 300;
	color: aliceblue;
}
summary {
	font-family: Zen Maru Gothic;
	background-color: #4b6d61;
	font-weight: 300;
	color: aliceblue;
}
button {
	background-color: #4b6d61;
	border: 2px solid;
	border-color: lavenderblush;
	color: aliceblue;
	font-size: medium;
	margin: 4px;
}
#contents {
	background-color: #4b6d61;
	font-family: "Klee One";
	font-weight: 400;
	color: aliceblue;
	width: 80%;
	border: 3px solid;
}
#subject {
	border-bottom: 2px solid;
	color: aliceblue;
	font-family: "Klee One";
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.grid {
	display: grid;
}

ul {
	padding-left: 0.5em;
}
li {
	margin-left: 1em;
}
@media screen and (min-width: 840px) {
	#contents {
		width: 840px;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	#left {
		border-right: 3px solid;
	}
}
@media screen and (max-width: 839px) and (min-width: 640px) {
	#contents {
		width: 640px;
	}
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	#left {
		border-right: 3px solid;
	}
}
@media screen and (max-width: 639px) {
	#contents {
		width: 100%;
	}
	#light,
	#reft {
		width: 96%;
	}
}
.flexbox h3,
p {
	margin-top: 0px;
	padding-top: 1px;
}
#date {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 3px solid;
}
.grid h3 {
	margin-top: 0px;
	margin-left: 2px;
}
