html {
	background-image: url("img2.jpg");
}
h1 {
	width: 5em;
	font-family: Zen Maru Gothic, sans-serif;
	font-weight: 500;
	background-color: #4b6d61;
	color: azure;
}

h2 {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 400;
	color: lavenderblush;
	width: fit-content;
}
table {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 300;
	color: aliceblue;
}
summary {
	font-family: Zen Maru Gothic;
	background-color: #4b6d61;
	font-weight: 300;
	color: aliceblue;
}
button {
	background-color: #4b6d61;
	border: 2px solid;
	border-color: lavenderblush;
	color: aliceblue;
	font-size: medium;
	margin: 4px;
}
#contents {
	background-color: #4b6d61;
	font-family: "Klee One";
	font-weight: 400;
	color: aliceblue;
	width: 80%;
}
#subject {
	border-bottom: 2px solid;
	color: aliceblue;
	font-family: "Klee One";
	width: 100%;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
}
#light,
#reft {
	width: 50%;
}
