html {
	background-image: url("img2.jpg");
}
h1 {
	width: 5em;
	font-family: Zen Maru Gothic, sans-serif;
	font-weight: 500;
	background-color: #4b6d61;
	color: azure;
}

h2 {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 400;
	color: lavenderblush;
	width: 7em;
}

table {
	background-color: #4b6d61;
	font-family: Zen Maru Gothic;
	font-weight: 300;
	color: aliceblue;
}
summary {
	font-family: Zen Maru Gothic;
	background-color: #4b6d61;
	font-weight: 300;
	color: aliceblue;
}
